body {
    background-image: linear-gradient(#609ED4, #356EA9, #0A3871);
    background-repeat: no-repeat;
}

main {
    height: 500px;
}

.inicio {
    display: flex;
    flex-direction: column;
}

.inicio > button {
    background-color: #052051;
    color: #CED4DA;
    border: #052051;
    border-radius: 2px;
    box-shadow: 5px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 20%;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s all;
}

.inicio > button:hover {
   background-color: #0A3871;
   cursor: pointer;
   transform: scale(1.2);
}

.adicionar__escondido {
    display: none;
    margin: 0 auto 15px auto;
}

.container {
    display: none;
}

.container__botoes {
    display: none;
}

.container__botoes > button:hover {
    transition: 1s all;
    background-image: linear-gradient(#0A3871, #356EA9);
    cursor: pointer;
}

.rodape {
    position: absolute;
    left: -1px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.rodape__titulo {
    font-size: 1.3em;
    margin: 1em auto;
}

.rodape__link {
    margin: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.rodape__link:hover {
    color: green;
}